.git
.github
.gitignore
VERSION

frontend/node_modules
frontend/build
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__
*.py[cod]
*.so
.pytest_cache
.coverage
htmlcov

dev-setup
docs
tests
screenshot
__builds__

*.swp
*.swo
.DS_Store
